table.Move{
    cursor: pointer;
    font-size: 10px;
    color: black;
}

table.Move:hover{
    background-color: rgb(173, 173, 173);
}

table.Move td{
    width: 10px;
    height: 10px;
    text-align: center;
    background-color: white;
}

table.Move, table.Move td{
    border: 1px solid black;
}

table.Current{
    background-color: black;
}

table.Current:hover{
    background-color: rgb(105, 105, 105);
}

.status {
    margin-bottom: 10px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
